/*
 * SPDX-FileCopyrightText: 2023 Andreas Hurka <>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* making pages feel vertical, instead of just plonking a phone in the middle of the screen */
#topofscroll {
    max-width: 100% !important;
}

/* making individual items in the course view clickable on the entire area looking clickable */
.activity-instance {
    width: 100%;
}
.activitytitle {
    width: 100%;
}
.media-body {
    width: 100%;
}
.media-body {
    width: 100%;
}
.activityname {
    width: 100%;
}
.stretched-link {
    display: inline-block;
    width: 100%;
}

/* making course view section headers a bit more space efficient and clickable in their entirety */
.course-section-header {
    padding: 0px !important;
}
.align-items-start {
    width: 100%;
}

/* making the course view sections form a grid when the available area is wide enough */
.topics {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1.5rem;
}
.course-section {
    flex: 1 1 0px;
    min-width: 35rem;
}

/* making the file upload area fill the entire area and indicate that it is clickable */
.dndupload-arrow {
    cursor: pointer;
    height: 110%; /* this part is most definitely very bad, but it seems to work. */
    top: -1em; /* Since you are reading this, consider yourself challenged to improve this solution */
}

/* making the left side course overview drawer less frustrating. Larger clickable areas. */
.completioninfo { /* I have never seen this do anything, therefore I think we can remove it */
    display: none;
}
.courseindex-link {
    display: inline-block;
    width: 100%;
}
.courseindex-sectioncontent .courseindex-link {
    padding: .3rem .0rem .3rem 1.2rem;
}
.courseindex-item {
    padding: 0px !important;
}
.dragicon { /* Don't see thepurpose of this, let's hop this does not break anything. */
    display: none;
}

/* making the navbar items clickable on most of the height of the navbar. */
.navbar-nav {
    height: 100%;
}
.nav-link {
    display: inline-block !important;
    height: 80% !important;
}

/* making the dashboard more efficient */
#block-region-content {
    column-width: 50rem;
}
#block-region-content section.block.card {
    break-inside: avoid;
}
#block-region-content .block_myoverview .card-body .content {
    display: inline-block;
}
.block_myoverview #paging-control-limit-container-1 {
    margin-top: .4rem;
}
